body {
    background-color: #e6e6e6;
}

#content {
    z-index: 1;
    max-width: 500px;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 50px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    font-size: 18px;
}

#navbar {
    background-color: var(--accent1)
}
h1 {
    text-align: center;
}